@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

.header{
  max-width: 400px;
  margin: 0 auto;
}

@media(min-width:672px) {
  .header{
    max-width: 1080px;
    margin: 0 auto;
  }
}

h1{
  text-align: center;
  padding-top: 1.6rem;
  font-family: 'Yellowtail', cursive;
  
}

.nav-area{
  padding-top: 1rem;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.tab-btn{
  display: block;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
  width: 28%;
  transition: 0.6s;
  cursor: pointer;
}

.tab-btn:hover{
    opacity: 0.6;
}

.tab-area{
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-around;
}

@media(min-width:672px) {
  .tab-area{
    max-width: 1080px;
    margin: 0 auto;
  }
  .panel-area{
    max-width: 1080px;
    margin: 0 auto;
  }
  .tab-panel{
    max-width: 70%;
  }
  .contents{
    max-width: 90%;
  }
}


.panel-area{
  margin-top: 2rem;
}

.tab-panel{
  display: none;
  margin-left: 0.8rem;
}

h2{
  
  padding-left: 0.6rem;
  border-left: 0.3rem solid blanchedalmond;
  margin-bottom: 0.6rem;
}





.active{
  display: block;
}

.footer{
  padding-top: 2rem;
  text-align: center;
  background-color: blanchedalmond;
  height: 90px;
}